/* STYLING FOR THE SHOPPING CART PAGE */

.centered-header {
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('Documents/Education/COMPE 561/RemodelingSite/docs/images/Miyabi.png');
    background-size: cover;
    background-position: center;
    padding: 50px;
  }
  
  .centered-header h3 {
    color: #f7f6f6;
    font-size: 100px;
  }