:root {
  --primary-black:#212123;
  --secondary-grey: #616063;
  --secondary-tan:#ccb9b1;
  --secondary-clay: #c08267;
  --secondary-brown:#a0583c;
}

#main-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 3px solid black;
  padding-left: 30%;
  padding-right: 30%;
}

#navbar {
	background-color: black;
  position:fixed;
  width:100%;
  margin:0;
  padding:0;
  top:0;
  list-style-type: none;
}
#navbar li {
	display: inline;
	padding: 0px 20px;
	color: white;
}
#navbar a {
	color:white;
}
#navbar ul {
	padding: 5px 30%;
}

.container {
	width: 80%;
}

h2 {
  color: black;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}