#main-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-left: 30%;
  padding-right: 30%;
  border: none;
}

#navbar {
	background-color: black;
}
#navbar li {
	display: inline;
	padding: 0px 20px;
	color: white;
}
#navbar a {
	color:white;
}
#navbar ul {
	padding: 5px 30%;
}

.container {
	width: 80%;
}