.toggle-container{
    position: absolute;
    top: 2em;
    right: 2em;
}

.toggle{
    visibility:hidden;
}

.toggle + label{
    display: flex;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
    color: var(--primary-text-color);
}

.toggle + label::before{
    content: "";
    height: 1em;
    width: 2em;
    border-radius: 1em;
    background-color: var(--toggle-bg);
}

.toggle + label::after{
    content: "";
    height: 0.8em;
    width: 0.8em;
    border-radius: 1em;
    background-color: var(--toggle-fg);
    position: absolute;
}

.toggle:checked + label::after{
    transform: translateX(100%);
}